/*
suggested color pack:
875f1c
ab8222
c19725
d5ac2a
e6bc2d
ebc44c
f0ce6a
f6dc93
fbe9bd
fef6e4
*/


body{
    background-color: #D8D8D8; 
}

.navbar {
    background-color: #BDBDBD;
}

.jumbotron {
    background-color: #D8D8D8; 
    padding: 0px;
    margin:0;
}

.header-card-container {
    background-color: #f6dc93; 
}

.row-content {
    padding: 50px 0;
    min-height: 200px;
}

.footer-container {
    background-color: #BDBDBD;
    color:balck;
    margin: 50px;
}